html, body {
  margin: 0;
  height: 100vh;
  background-color: #FFFDD0;

  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 9fr;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls > input {
  margin-bottom: 1rem;
}

h1 {
  margin: 0
}
